body {
	background-color: #112546;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo {
	width: 400px;
	height: auto;
}

.categorias {
	top: 10px;
	width:525px;
	height: 95px;
	background-color: #ffffff;
	border: 5px solid #ffffff;
	border-radius: 50px;
	padding-right: 10px;
}
	
.categorias img {
	margin:8px 8px 8px 0px;
	width:70px;
	height:70px;
}

img #help {
	cursor:pointer;
}

img #mute {
	cursor:pointer;
}
.instrucciones {
	margin-top: 10px;}

.instrucciones img {
	height: 40px;
	width:40px;
	margin-left: 6px;
}
.label-roulette1 {
	font-family: 'Fredoka One', serif;
	margin-top: 24px;
	font-size: 25px;
	text-align: left;
	margin-left: 17px;
	color: white;
	letter-spacing: 25px;
}

.label-roulette2 {
	font-family: 'Fredoka One', serif;
	margin-top: 24px;
	font-size: 25px;
	text-align: left;
	margin-left: 13px;
	color: white;
	letter-spacing: 29px;
}

div.roulette1 {
	width: 375px;
	height: 375px;
	margin-top: 10px;
	float: left;
	border: 10px  solid #ffffff;
	border-radius: 14px;
	border-right-width: 17px;
}	

.r-categ {
	margin:0px;
}

.r-categ img {
	width:350px;
	height:350px;
}

div.roulette2 {
	width:375px;
	height:375px;
	margin-top: 10px;
	float: right;
	border: 10px  solid #ffffff;
	border-radius: 10px;
	border-right-width: 17px;
}

.r-preg {
	margin:0px;
	top: -2px;
}

.r-preg img{
	width: 354px;
	height: 350px;
	margin-left: -3px;
}

button.start{
	font-family: 'Fredoka One', serif;
	cursor:pointer;
}

.btn_container {
	text-align:center;
	outline: none;
	height: 370px;
	width: 65px;
	margin: 0px 14px 0px 14px;
}

.btn_container .start {
	margin-left: 17px;
	height: 335px;
	width: 70px;
	background-color: #112546;
	color: white;
	font-size: 37px;
	letter-spacing: 32px;
	margin-top:76px;
	border: 8px solid #ffffff;
	border-radius: 35px;
	transition-duration: 0.15s;
	outline: none;
}

.btn_container .start:hover{
	margin-left: 17px;
	height: 335px;
	width: 70px;
	background-color: #f26923;
	color: #112546;
	font-size: 45px;
	letter-spacing: 37px;
	margin-top:76px;
	border: 5px solid #112546;
	border-radius: 35px;
	outline: none;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
	margin-bottom: 155px;
}

/* modal*/
.modal-header {
	border-bottom: 0px;
}

.modal-header  h1 {
	font-size: 28px;
}

.modal-body p {
	font-family: 'Nunito' ,serif; 
	font-size: 22px;
	color: #ffffff;
}

.modal-footer {
	border-top: 0px;
}

.modal-content{
	border-radius: 20px;
	background-color: #112546;
}

.modal-title.inst{
	font-size: 25px;
}

.modal-title {
	font-size: 20px;
	font-family: 'Nunito' ,serif;
	color: #ffffff;
}

.modal-dialog {
	margin: auto;
	margin-top: 10%;
} 

.modal-dialog.help {
	margin: auto;
	margin-top: 5%;
} 
	
#progressbar {
	margin-top: 10px;
	width: 100%;
	height: 20px;
}
	
.btn-modal-inst /*este es el boton para instrucciones*/{
    width: 78px;
    height: 38px;
	outline: none;
	background-color: #112546; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: white;
	font-size: 17px;
	transition-duration: 0.2s;
	}

.btn-modal-inst:hover {
	width: 84px;
    height: 42px;
	outline: none;
	background-color: white; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: #112546;
	font-size: 20px;
	}
	
.btn-modal-preg /*este es el boton para preguntas*/{
    margin-bottom: 5px;
	width: 130px;
    height: 38px;
	outline: none;
	background-color: #112546; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: white;
	font-size: 17px;
	transition-duration: 0.2s;
}

.btn-modal-preg:hover {
	margin-bottom: 5px;
	width: 137px;
    height: 42px;
	outline: none;
	background-color: white; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: #112546;
	font-size: 20px;
}

.btn-modal-go /*este es el boton de game over*/{
    width: 200px;
    height: 38px;
	outline: none;
	background-color: #112546; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: white;
	font-size: 17px;
	transition-duration: 0.2s;
}

.btn-modal-go:hover {
	width: 240px;
    height: 42px;
	outline: none;
	background-color: white; 
	border: 3px solid #112546;
	border-radius: 10px;
	font-family: 'Nunito',serif;
	color: #112546;
	font-size: 20px;
}

 .carousel-control.left, .carousel-control.right {
	background-image: none;
 }

.col-1 {
	width:365px;
	height:430px;
}
	
.col-2 {
	width: 395px;
	height: 430px;
	margin-left: 40px;
	padding-left: 8px;
}

input[type='radio'] {   
    margin: 8px 0 0;
 }